@import 'https://fonts.googleapis.com/css?family=Amatic+SC:700'
cor_texto = #000
cor_primaria = #962626
cor_secundaria = #000
cor_terciaria = #ffc765
fonte_tamanho = 14px
fonte_texto = 'Gotham Book'
fonte_primaria = 'Gotham Bold'
fonte_secundaria = 'Amatic SC'
fonte_terciaria = 'Iron & Brine'
easingElastic = cubic-bezier(0.68, -0.55, 0.265, 1.55)