Header always set Access-Control-Allow-Origin "*"
Header always set Access-Control-Allow-Methods "GET, POST, PUT, DELETE"
Header always set Access-Control-Allow-Headers: Authorization

RewriteEngine On
# Force to request 200 for options
RewriteCond %{REQUEST_METHOD} OPTIONS
RewriteRule .* / [R=200,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^ index.php [QSA,L]
